<header class="navbar">

    <div class="logo">
        <img src="../assets/images/logo.png" alt="Logo">
    </div>

    <nav>
        <ul class="nav-links">
            <li><a href="home.html">الرئيسية</a></li>
            <li><a href="#">الدخول للكورسات</a></li>
            <li><a href="#">مجتمع الاعضاء</a></li>
            <li><a href="#">حجز استشارة خاصة</a></li>
            <li><a href="#">الكورسات و الكتب</a></li>
        </ul>
    </nav>

    <!-- Login/Profile -->
    <div id="auth-section"></div>

</header>