*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#fafafa;
}

/* HERO */

.hero{

    max-width:1300px;
    margin:auto;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:80px 40px;

    gap:70px;

}

.hero-content{

    flex:1;

}

.hero-content h1{

    font-size:55px;
    margin-bottom:20px;

    color:#111;

    line-height:1.2;

}

.hero-content p{

    font-size:18px;

    color:#666;

    line-height:1.8;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.btn-primary{

    background:#000;

    color:#fff;

    padding:15px 35px;

    text-decoration:none;

    border-radius:10px;

}

.btn-secondary{

    border:2px solid #000;

    color:#000;

    padding:15px 35px;

    text-decoration:none;

    border-radius:10px;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:100%;

    max-width:550px;

}